{% case include.ad_id %}
{% when 'kbb1' %}
<a href="https://deanandtonylive.com/reservation?source=ILDpostadverts&a=1899" target="_blank" rel="noopener"><img src='/i/ads/kbb/970x90.jpg' alt='Free training with Tony Robbins and Dean Graziosi banner' /></a>
{% when 'kbb2' %}
<a href="http://bit.ly/turnyourdreamsintomoney" target="_blank" rel="noopener"><img src='/aff/turn-your-dreams-into-money-728x90.png' alt='Turn Your Dreams Into Money course advert' /></a>
{% when 'kbb3' %}
<a href="https://convertkit.com/?lmref=AQv5Bg" target="_blank" rel="noopener"><img src="https://ambassador-api.s3.amazonaws.com/uploads/marketing/11256/2018_08_17_17_02_45.png" alt="ConvertKit" border="0" /></a>
{% when 'ild1' %}
<a href="/shop/index.html" target="_blank" rel="noopener"><img src='/i/ads/ild/ild_shop.png' alt='Inspiring Life Design Shop advert' /></a>
{% when 'tydim1' %}
<a href="http://bit.ly/dreamsintomoney" target="_blank" rel="noopener"><img src='/aff/turn-your-dreams-into-money-728x90.png' alt='Turn Your Dreams Into Money course advert' /></a>
{% when 'topcb1' %}
<a href="https://www.awin1.com/cread.php?s=158629&v=2459&q=92403&r=452089" target="_blank" rel="noopener"><img src="https://www.awin1.com/cshow.php?s=158629&v=2459&q=92403&r=452089" alt='Top Cashback advert' border="0"></a>
{% when 'ckit1' %}
<a href="https://convertkit.com/?lmref=AQv5Bg" target="_blank" rel="noopener"><img src="https://ambassador-api.s3.amazonaws.com/uploads/marketing/11256/2018_08_17_17_02_45.png" alt="ConvertKit" border="0" /></a>
{% else %}
<a href="/shop/index.html" target="_blank" rel="noopener"><img src='/i/ads/ild/ild_shop.png' alt='Inspiring Life Design Shop advert' /></a>
{% endcase %}
