{% case include.ad_id %}
{% when 'latest1' %}
<a href="https://convertkit.com/?lmref=AQv5Bg" target="_blank" rel="noopener"><img src="/i/ads/ckit/ckitred.jpg" alt="ConvertKit" border="0" /></a>
{% when 'latest2' %}
<a href="https://convertkit.com/?lmref=AQv5Bg" target="_blank" rel="noopener"><img src="/i/ads/ckit/ckitblue.jpg" alt="ConvertKit" border="0" /></a>
{% when 'latest3' %}
<a href="http://bit.ly/dreamsintomoney" target="_blank" rel="noopener"><img src='/aff/turn-your-dreams-into-money-728x90.png' alt='Turn Your Dreams Into Money course advert' /></a>
{% when 'latest4' %}
<a href="https://convertkit.com/?lmref=AQv5Bg" target="_blank" rel="noopener"><img src="/i/ads/ckit/ckitred.jpg" alt="ConvertKit" border="0" /></a>
{% when 'persdev1' %}
<a href="https://ownyourfuturechallenge.com/freechallenge?source=optinildads&a=1899" target="_blank" rel="noopener"><img src='/i/ads/prjnext/everyonetalks.png' alt='Own Your Future Challenge signup banner' /></a>
{% when 'persdev2' %}
<a href="https://ownyourfuturechallenge.com/freechallenge?source=optinildads&a=1899" target="_blank" rel="noopener"><img src='/i/ads/prjnext/startinglive.jpg' alt='Own Your Future Challenge signup banner' /></a>
{% when 'persdev3' %}
<a href="https://ownyourfuturechallenge.com/freechallenge?source=optinildads&a=1899" target="_blank" rel="noopener"><img src="/i/ads/prjnext/mostpeoplelack.png" alt="Own Your Future Challenge signup banner" /></a>
{% when 'kbb1' %}
<a href="https://ownyourfuturechallenge.com/freechallenge?source=optinildads&a=1899" target="_blank" rel="noopener"><img src='/i/ads/prjnext/everyonetalks.png' alt='Own Your Future Challenge signup banner' /></a>
{% when 'kbb2' %}
<a href="https://ownyourfuturechallenge.com/freechallenge?source=optinildads&a=1899" target="_blank" rel="noopener"><img src='/i/ads/prjnext/startinglive.jpg' alt='Own Your Future Challenge signup banner' /></a>
{% when 'kbb3' %}
<a href="https://ownyourfuturechallenge.com/freechallenge?source=optinildads&a=1899" target="_blank" rel="noopener"><img src="/i/ads/prjnext/mostpeoplelack.png" alt="Own Your Future Challenge signup banner" /></a>
{% when 'ild1' %}
<a href="https://ownyourfuturechallenge.com/freechallenge?source=optinildads&a=1899" target="_blank" rel="noopener"><img src='/i/ads/prjnext/discoversecrets.png' alt='Own Your Future Challenge signup banner' /></a>
<!--a href="/shop/index.html" target="_blank" rel="noopener"><img src='/i/ads/ild/ild_shop.png' alt='Inspiring Life Design Shop advert' /></a> -->
{% when 'tydim1' %}
<a href="http://bit.ly/dreamsintomoney" target="_blank" rel="noopener"><img src='/aff/turn-your-dreams-into-money-728x90.png' alt='Turn Your Dreams Into Money course advert' /></a>
{% when 'topcb1' %}
<a href="https://ownyourfuturechallenge.com/freechallenge?source=optinildads&a=1899" target="_blank" rel="noopener"><img src="/i/ads/prjnext/onemillionpeople.png" alt='Own Your Future Challenge signup banner' ></a>
<!--a href="https://www.awin1.com/cread.php?s=158629&v=2459&q=92403&r=452089" target="_blank" rel="noopener"><img src="https://www.awin1.com/cshow.php?s=158629&v=2459&q=92403&r=452089" alt='Top Cashback advert' border="0"></a> -->
{% when 'ckit1' %}
<a href="https://convertkit.com/?lmref=AQv5Bg" target="_blank" rel="noopener"><img src="/i/ads/ckit/ckitred.jpg" alt="ConvertKit" border="0" /></a>
{% when 'ckit2' %}
<a href="https://convertkit.com/?lmref=AQv5Bg" target="_blank" rel="noopener"><img src="/i/ads/ckit/ckitblue.jpg" alt="ConvertKit" border="0" /></a>
{% when 'dlp1' %}
<!-- Go to tradedoubler to find how to advertise now -->
<a href="https://ownyourfuturechallenge.com/freechallenge?source=optinildads&a=1899" target="_blank" rel="noopener"><img src="/i/ads/prjnext/everyonetalks.png" alt="Own Your Future Challenge signup banner" /></a>
{% when 'dlp2' %}
<a href="https://ownyourfuturechallenge.com/freechallenge?source=optinildads&a=1899" target="_blank" rel="noopener"><img src="/i/ads/prjnext/onemillionpeople.png" alt="Own Your Future Challenge signup banner" /></a>
{% else %}
<a href="https://ownyourfuturechallenge.com/freechallenge?source=optinildads&a=1899" target="_blank" rel="noopener"><img src='/i/ads/prjnext/everyonetalks.png' alt='Own Your Future Challenge signup banner' /></a>
{% endcase %}
