<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
<!-- ================ -->
<footer id="footer" class="clearfix ">
	<!-- .subfooter start -->
	<!-- ================ -->
	<div class="subfooter">
		<div class="container">
			<div class="subfooter-inner">
				<div class="row">
					<div class="col-md-12">
						<p class="text-center">Copyright © 2022 {{ site.title }}. All Rights Reserved. See our <a href="/policies/privacy_v01.html">Privacy Policy</a> for further details of how data is stored. Also see our <a href="/policies/disclaimer.html">Disclaimer Policy</a> and
						<a href="/policies/disclosure.html">Disclosure Policy</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .subfooter end -->

</footer>
<!-- footer end -->
