<meta charset="utf-8">
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.title }}">
<!-- Mobile Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Favicon -->
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.title }}" href="{{ site.url }}/rss.xml" />
<link rel="alternate" type="application/atom+xml" title="Atom Feed for {{ site.title }}" href="{{ site.url }}/atom.xml" />
