<!-- header-top start -->
<!-- classes:  -->
<!-- "dark": dark version of header top e.g. class="header-top dark" -->
<!-- "colored": colored version of header top e.g. class="header-top colored" -->
<!-- ================ -->
<div class="header-top dark ">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-sm-6 col-md-9">
        <!-- header-top-first start -->
        <!-- ================ -->
        <div class="header-top-first clearfix">
          <ul class="social-links circle small clearfix hidden-xs">
            {% for account in site.social-media %}
            <li class="{{ account[0] }}"><a target="_blank" href="{{ account[1] }}"><i class="fa fa-{{ account[0] }}"></i></a></li>
            {% endfor %}
          </ul>
          <div class="social-links hidden-lg hidden-md hidden-sm circle small">
            <div class="btn-group dropdown">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
              <ul class="dropdown-menu dropdown-animation">
                {% for account in site.social-media %}
                <li class="{{ account[0] }}"><a target="_blank" href="{{ account[1] }}"><i class="fa fa-{{ account[0] }}"></i></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <!-- header-top-first end -->
      </div>
      <div class="col-xs-9 col-sm-6 col-md-3">
        <ul class="list-inline hidden-sm hidden-xs pull-right">
          <li><i class="fa fa-envelope-o pr-5 pl-10"></i> hello@inspiringlifedesign.com</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- header-top end -->
