<!-- header start -->
<!-- classes:  -->
<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
<!-- "full-width": mandatory class for the full-width menu layout -->
<!-- "centered": mandatory class for the centered logo layout -->
<!-- ================ -->
<header class="header  fixed    clearfix">

  <div class="container">
    <div class="row">
      <div class="col-md-3 ">
        <!-- header-first start -->
        <!-- ================ -->
        <div class="header-first clearfix">
          <!-- logo -->
          <div id="logo" class="logo">
            <a href="/"><img id="logo_img" src="/i/Logo150x40.png" alt="{{ site.title }}"></a>
          </div>
          <!-- name-and-slogan-->
          <div class="site-slogan">
               <i>Be True To Who You Are</i>
          </div>
        </div>
        <!-- header-first end -->
      </div>
      <div class="col-md-9">

        <!-- header-second start -->
        <!-- ================ -->
        <div class="header-second clearfix">

        <!-- main-navigation start -->
        <!-- classes: -->
        <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
        <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
        <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
        <!-- ================ -->
        <div class="main-navigation  animated with-dropdown-buttons">

          <!-- navbar start -->
          <!-- ================ -->
          <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <!-- No content for mavigation at the moment -->
            </div>
          </nav>
          <!-- navbar end -->
        </div>
        <!-- main-navigation end -->
        </div>
        <!-- header-second end -->
      </div>
    </div>
  </div>
</header>
<!-- header end -->
