<!-- header start -->
<!-- classes:  -->
<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
<!-- "full-width": mandatory class for the full-width menu layout -->
<!-- "centered": mandatory class for the centered logo layout -->
<!-- ================ -->
<header class="header  fixed    clearfix">

  <div class="container">
    <div class="row">
      <div class="col-md-3 ">
        <!-- header-first start -->
        <!-- ================ -->
        <div class="header-first clearfix">
          <!-- logo -->
          <div id="logo" class="logo">
            <a href="/"><img id="logo_img" src="/i/Logo250x40.png" alt="{{ site.title }}"></a>
          </div>
          <!-- name-and-slogan-->
          <div class="site-slogan">
               <i>Achieve Financial Freedom & The Lifestyle You Desire</i>
          </div>
        </div>
        <!-- header-first end -->
      </div>
    </div>
  </div>
</header>
<!-- header end -->
