<!-- share buttons start -->
<div style="margin: 15px 0;">
  <p><strong>Enjoyed this post? Share it!</strong></p>
  <ul class="social-links circle small colored clearfix margin-clear animated-effect-1">
    <li class="pinterest"><a target="_blank" rel="noopener noreferrer" href="https://pinterest.com/pin/create/button/?url={{ page.url | absolute_url | url_encode }}&description={{ page.title | url_encode }}" title="Share on Pinterest"><i class="fa fa-pinterest"></i></a></li>
    <li class="facebook"><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}" title="Share on Facebook"><i class="fa fa-facebook"></i></a></li>
    <li style="background-color:#25D366; border-radius:50%;"><a target="_blank" rel="noopener noreferrer" href="https://api.whatsapp.com/send?text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}" title="Share on WhatsApp" style="color:#fff;"><i class="fa fa-whatsapp"></i></a></li>
  </ul>
</div>
<!-- share buttons end -->
