<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="en" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html dir="ltr" lang="en">
	<!--<![endif]-->

	<head>
		{% include head.html %}
		{% include opengraph.html %}
    {% include twittercard.html %}
    {% include styles.html %}
	</head>

	<!-- body classes:  -->
	<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
	<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
	<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
	<!-- "gradient-background-header": applies gradient background to header -->
	<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
	<body class="no-trans">

		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">

			<!-- header-container start -->
			<div class="header-container">

        {% include header_top.html %}
        {% include header.html %}

			</div>
			<!-- header-container end -->

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">{{ page.title }}</h1>
							<!-- page-title end -->

							<!-- blogpost start -->
							<!-- ================ -->
							<article class="blogpost full">

								<div class="blogpost-content">
                  {{ content }}
								</div>
								<!-- footer class="clearfix">
									{% if page.tags %}
									<div class="tags pull-left"><i class="icon-tags"></i>
										{% for tag_page in site.tag_pages %}
										{% if page.tags contains tag_page.title %}
										<a href="{{ tag_page.url }}">{{ tag_page.title }}</a>{% unless forloop.last %},{% endunless %}
										{% endif %}
										{% endfor %}
									</div>
									{% endif %}
									<div class="link pull-right">
										<ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
											<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
											<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
											<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
										</ul>
									</div>
								</footer> -->
							</article>
							<!-- blogpost end -->


						<!-- main end -->



					</div>
				</div>
			</section>
			<!-- main-container end -->

      {% include footer.html %}

		</div>
		<!-- page-wrapper end -->

    {% include scripts.html %}
		{% include google-analytics.html %}

	</body>
</html>
