<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="en" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html dir="ltr" lang="en">
	<!--<![endif]-->

	<head>
		{% include head.html %}
		{% include opengraph.html %}
    {% include twittercard.html %}
    {% include styles.html %}
	</head>

	<!-- body classes:  -->
	<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
	<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
	<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
	<!-- "gradient-background-header": applies gradient background to header -->
	<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
	<body class="no-trans">

		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">

			<!-- header-container start -->
			<div class="header-container">

        {% include header_top.html %}
        {% include header.html %}

			</div>
			<!-- header-container end -->

			{% include breadcrumb.html %}

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-8">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">{{ page.title }}</h1>
							<!-- page-title end -->

							<!-- blogpost start -->
							<!-- ================ -->
							<article class="blogpost full">
								<header>
                  {% include post-info.html date=page.date %}
								</header>
								{% if page.affiliate %}
								<p><sub>Some links in this post (marked <i>affiliate link</i>) provide me with a small commission at no extra cost to you, if you make a purchase.</sub></p>
								{% endif %}
								<div><i>Sharing is caring...</i></div>
								<div class="addthis_inline_share_toolbox"></div>
								<div class="blogpost-content">
                  {{ content }}
									{% if page.affiliate %}
									<p><sub>I sometimes use affiliate links in my posts. This means that if you buy a service or product using my link I receive a small commission at no extra expense to you. You can navigate independently to the sites mentioned if you prefer not to use my affiliate links. I only link to products or services which I personally use & recommend.</sub></p>
									{% endif %}
								</div>
								<footer class="clearfix">
									{% if page.tags %}
									<div class="tags pull-left"><i class="icon-tags"></i>
										{% for tag_page in site.tag_pages %}
										{% if page.tags contains tag_page.title %}
										<a href="{{ tag_page.url }}">{{ tag_page.title }}</a>{% unless forloop.last %},{% endunless %}
										{% endif %}
										{% endfor %}
									</div>
									{% endif %}
									<div class="link pull-right">
										<ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
											<li class="instagram"><a target="_blank" href="https://www.instagram.com/inspiringlifedesign/"><i class="fa fa-instagram"></i></a></li>
											<li class="twitter"><a target="_blank" href="http://www.twitter.com/lifedesigntoday"><i class="fa fa-twitter"></i></a></li>
											<li class="youtube"><a target="_blank" href="https://www.youtube.com/channel/UCFMCt3HfmLwWyqr5QSETThQ"><i class="fa fa-youtube"></i></a></li>
											<li class="facebook"><a target="_blank" href="https://www.facebook.com/inspiringlifedesign"><i class="fa fa-facebook"></i></a></li>
										</ul>
									</div>
								</footer>
							</article>
							<!-- blogpost end -->
<!-- Awin convert a link -->
<script src="https://www.dwin2.com/pub.452089.min.js"></script>

							<!-- Related Posts - by www.addthis.com/dashboard to customize your tools -->
							<div class="addthis_relatedposts_inline"></div>


							<!-- comments start -->
							<!-- ================ -->
							<div id="disqus_thread"></div>
							<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://https-inspiringlifedesign-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
							</script>
							<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
						</div>
						<!-- main end -->

            {% include sidebar.html %}

					</div>
				</div>
			</section>
			<!-- main-container end -->

      {% include footer.html %}

		</div>
		<!-- page-wrapper end -->

    {% include scripts.html %}
		{% include google-analytics.html %}
    <!-- VGLnk affiliate incorporation start -->
		<!-- <script type="text/javascript">
		    var vglnk = {key: '34ec09b8b2a87e86853d497a0fde239d'};
		    (function(d, t) {
		        var s = d.createElement(t);
		            s.type = 'text/javascript';
		            s.async = true;
		            s.src = '//cdn.viglink.com/api/vglnk.js';
		        var r = d.getElementsByTagName(t)[0];
		            r.parentNode.insertBefore(s, r);
		    }(document, 'script'));
		</script> -->
		<!-- VGLnk affiliate incorporation start -->

	</body>
</html>
